<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="<%= cssPath %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="icon" type="image/png" href="/favicon/favicon.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="alt-assets/leaflet.css" />
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">
</head>
