// firebase and api setting
const config = {
  apiKey: <apiKey>,
  authDomain: <authDomain>,
  databaseURL: <databaseURL>,
  projectId: <projectId>,
  storageBucket: <storageBucket>,
  messagingSenderId: <messagingSenderId>,
  api: {
    city: <city api>,
    city_local: <city local api>,
    city_c: <city cached api>,
    city_c_local: <city cached local api>,
  },
};

export default config;
