.btn {
  align-items: center;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 20px;
  display: inline-flex;
  font-family: $heading-font;
  font-weight: 600;
  height: 30px;
  justify-content: center;
  letter-spacing: .5px;
  line-height: 1.8;
  margin-right: 10px;
  min-width: 52px;
  padding-left: 12px;
  padding-right: 12px;
  text-transform: capitalize;

  &--active {
    background-color: $ui-primary;
    border-color: $ui-primary;
    color: $ui-white;

    svg {
      fill: $ui-white;
    }
  }

  &--danger {
    background-color: $ui-grey;
    border-color: $ui-grey;
    color: $ui-danger;

    svg {
      fill: $ui-danger;
    }
  }

  &--safe {
    background-color: $ui-grey;
    border-color: $ui-grey;
    color: $ui-safe;

    svg {
      fill: $ui-safe;
    }
  }
}
