.btn {
  align-items: center;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 20px;
  display: inline-flex;
  font-family: $heading-font;
  font-weight: 600;
  height: 30px;
  justify-content: center;
  letter-spacing: .5px;
  line-height: 1.8;
  margin-right: 10px;
  min-width: 52px;
  padding-left: 12px;
  padding-right: 12px;
  text-transform: capitalize;

  &--active {
    background-color: #5d50ff;
    border-color: #5d50ff;
    color: #fff;

    svg {
      fill: #fff;
    }
  }

  &--danger {
    background-color: #ececec;
    border-color: #ececec;
    color: red;

    svg {
      fill: red;
    }
  }

  &--safe {
    background-color: #ececec;
    border-color: #ececec;
    color: #1db34b;

    svg {
      fill: #1db34b;
    }
  }
}
