.info {
  border-radius: 6px 6px 0 0;
  bottom: 0;
  display: flex;
  height: 300px;
  left: 0;
  position: fixed;
  width: 100vw;
  z-index: 2000;

  @include desktop {
    height: 250px;
    left: 0;
    margin: auto;
    max-width: 1100px;
    right: 0;
  }

  .container {
    background-color: #fff;
    border-radius: 6px 6px 0 0;
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 100%;
  }

  &__head {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .8rem;

    &__title {
      font-family: $heading-font;
      font-size: 1.2rem;
      font-weight: 600;
      letter-spacing: .4px;
      margin-bottom: 12px;
      text-transform: capitalize;
      width: 100%;
    }
  }

  .close-btn {
    align-items: center;
    display: inline-flex;
    height: 40px;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;

    svg {
      fill: $ui-danger;
      height: 1.2rem;
      width: 1.2rem;
    }
  }

  &__body {
    height: calc(100% - 84px);
    overflow: auto;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .8rem;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;

    .gap {
      padding: 5px 0;
      width: 100%;
    }

    label,
    .fixed-fields {
      font-size: 1.2rem;
      margin-bottom: 36px;
      width: 100%;

      @include desktop {
        margin-bottom: 21px;
        margin-left: 10px;
        margin-right: 10px;
        width: calc(25% - 20px);
      }
    }

    input {
      font-size: 1.2rem;
    }

    select {
      font-size: 1.2rem;
    }

    .checkbox {
      align-items: flex-end;
      align-self: flex-end;
      display: flex;
    }
  }

  &--display {
    font-family: $heading-font;

    @include desktop {
      height: 180px;
    }

    .info__body {
      height: 100%;

      @include desktop {
        align-items: center;
        display: flex;
      }
    }

    .part {
      margin-bottom: 10px;

      @include desktop {
        align-items: center;
        display: inline-flex;
        flex: 1;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        margin-bottom: 0;
        width: 33.333%;
      }
    }

    .place-title {
      color: $ui-primary;
      font-size: 2rem;
      font-weight: 600;

      @include desktop {
        font-size: 2.2rem;
      }
    }

    .city-is-capital {
      font-size: 1.2rem;
      font-weight: 400;

      @include desktop {
        font-size: 1.4rem;
      }
    }

    .city-country-code {
      font-size: 1.2rem;

      @include desktop {
        font-size: 1.4rem;
      }
    }

    .country-code {
      font-size: 1.2rem;
      font-weight: 400;

      @include desktop {
        font-size: 1.4rem;
      }
    }

    .time-group {
      .time {
        color: $ui-primary;
        font-size: 2.2rem;
        font-weight: 600;

        @include desktop {
          font-size: 2.4rem;
        }
      }

      .a {
        font-size: 1.3rem;
        font-weight: 600;

        @include desktop {
          font-size: 1.5rem;
        }
      }

      .day {
        font-size: 1rem;

        @include desktop {
          font-size: 1.2rem;
        }
      }

      .timezone {
        font-size: 1rem;

        @include desktop {
          font-size: 1.2rem;
        }
      }
    }

    .area-group {
      .title {
        border-bottom: 3px solid $ui-grey;
        font-size: 1.3rem;
        font-weight: 600;

        @include desktop {
          font-size: 1.5rem;
        }
      }

      .area {
        color: $ui-primary;
        font-size: 2.2rem;
        font-weight: 600;

        @include desktop {
          font-size: 2.4rem;
        }
      }

      .skm {
        font-size: 1.3rem;
        font-weight: 600;
        position: relative;

        @include desktop {
          font-size: 1.4rem;
        }

        &::after {
          content: '2';
          font-size: 1rem;
          position: absolute;
          top: -2px;
        }
      }
    }
  }
}
