.login {
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 2000;

  &__heading {
    font-family: $heading-font;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    text-align: center;
    top: 100px;

    @include desktop {
      top: 3%;
    }

    .heading1 {
      color: $ui-primary;
      font-size: 2.4rem;
      font-weight: 600;

      @include desktop {
        font-size: 2.2rem;
      }
    }

    .heading2 {
      font-size: 1.2rem;
      font-weight: 600;
      left: 2px;
      position: relative;
      top: -16px;

      @include desktop {
        font-size: 1.4rem;
      }
    }

    .image {
      display: block;
      margin: 10px auto;
      width: 53px;

      img {
        display: block;
        height: auto;
        width: 100%;
      }
    }
  }

  &--modal {
    border-radius: 6px 6px 0 0;
    bottom: 0;
    display: flex;
    height: 350px;
    left: 0;
    position: fixed;
    width: 100vw;

    @include desktop {
      border-radius: 6px;
      bottom: 50%;
      height: 250px;
      left: 0;
      margin: auto;
      max-width: 400px;
      right: 0;
    }
  }

  .container {
    background-color: #fff;
    border-radius: 6px 6px 0 0;
    height: 100%;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
    width: 100%;

     @include desktop {
      border-radius: 6px;
    }
  }

  .txt {
    margin-bottom: 31px;

    input {
      font-size: 1.2rem;
    }
  }

  button {
    margin-top: 10px;
  }
}
