.login {
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 2000;

  &--modal {
    border-radius: 6px 6px 0 0;
    bottom: 0;
    display: flex;
    height: 300px;
    left: 0;
    position: fixed;
    width: 100vw;

    @include desktop {
      height: 250px;
      left: 0;
      margin: auto;
      max-width: 400px;
      right: 0;
    }
  }

  .container {
    background-color: #fff;
    border-radius: 6px 6px 0 0;
    height: 100%;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
    width: 100%;
  }

  .txt {
    margin-bottom: 31px;

    input {
      font-size: 1.2rem;
    }
  }

  button {
    margin-top: 10px;
  }
}
