.txt {
  display: block;
  font-size: 16px;

  input {
    border: 0;
    border-bottom: 2px solid #000;
    border-bottom-color: #000;
    display: block;
    padding: 6px 4px;
    transition: border 400ms;
    width: 100%;
  }

  input:focus::-webkit-input-placeholder { color:transparent; }
  input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
  input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
  input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

  &--drop {
    margin-bottom: 21px;
    position: relative;

    span {
      font-size: 12px;
      font-weight: 600;
      left: 4px;
      letter-spacing: .4px;
      opacity: 0;
      position: absolute;
    }

    input {
      &:focus {
        & + span {
          opacity: 1;
        }
      }
    }
  }

  &--red {
    input {
      border-bottom-color: red;
    }
  }
}
